.sortable th{
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  color:rgb(44, 44, 70);
}

.align-vertical {
  align-items: center;
}

.hand{
  cursor: pointer;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color:  rgb(241, 241, 233);
}
.column_selected{
  background-color: rgb(234, 234, 240) !important;
  color: rgb(53, 53, 92) !important;
}

.fa-star {
  color: darkslateblue;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.myspinner {
  height:50px;
  width:50px;
  margin:0px auto;
  animation: rotation 1.6s infinite linear;
  border-radius:100%;
}


@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mark:hover {
  background-color: #ccc;
}

