.sortable th{
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  color:rgb(44, 44, 70);
}

.align-vertical {
  align-items: center;
}

.hand{
  cursor: pointer;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color:  rgb(241, 241, 233);
}
.column_selected{
  background-color: rgb(234, 234, 240) !important;
  color: rgb(53, 53, 92) !important;
}
