.sortable th{
  background-color: rgb(244, 244, 244);
  color:rgb(44, 44, 70);
}

.align-vertical {
  align-items: center;
}

.hand{
  cursor: pointer;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color:  rgb(241, 241, 233);
}
.column_selected{
  background-color: rgb(234, 234, 240) !important;
  color: rgb(53, 53, 92) !important;
}

.fa-star {
  color: darkslateblue;
  cursor: pointer;
}


.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mark:hover {
  background-color: #99cc;
}

.far {
  font-size: 10px;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
