<app-facility-nav>
</app-facility-nav>

<div class="row col">
  <app-experiment-nav></app-experiment-nav>

  <!-- quota list -->

  <div class="col">

    <div class="row">
      <h1 class="col-sm-4">Quotas</h1>
      <h3 class="col-sm-4">
      </h3>
      <h1 class="col-sm-4"></h1>
    </div>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col">Your default quota</th>
          <th class="col">Your used quota</th>
          <th class="col">Your available quota</th>
          <th class="col">Default image</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <td class="col" > <!--*ngFor="let quota of quotas">-->
            <b>machines : </b> {{ quotas?.max_simultaneous }}
            <br/>
            <b>cpus : </b> {{ quotas?.cpu }}
            <br/>
            <b>memory : </b> {{ quotas?.memory }}
            <br/>
            <b>storage: </b> {{ quotas?.hdd }}
            <br/>
            <br/>
          </td>
          <td class="col" > <!-- *ngFor="let used of used_quota"> -->
            <b>machines : </b> {{ used_quota?.max_simultaneous }}
            <br/>
            <b>cpus : </b> {{ used_quota?.cpu }}
            <br/>
            <b>memory : </b> {{ used_quota?.memory }}
            <br/>
            <b>storage: </b> {{ used_quota?.hdd }}
            <br/>
            <br/>
          </td>
          <td class="col"> <!-- *ngFor="let available of available_quota"> -->
            <b>machines : </b> {{ available_quota?.max_simultaneous }}
            <br/>
            <b>cpus : </b> {{ available_quota?.cpu }}
            <br/>
            <b>memory : </b> {{ available_quota?.memory }}
            <br/>
            <b>storage: </b> {{ available_quota?.hdd }}
            <br/>
            <br/>
          </td>
          <td class="col"> <!-- *ngFor="let image of image_selected"> -->
            <b>-</b>
            <br/>
            <b>cpus : </b> {{ image_selected?.cpu }}
            <br/>
            <b>memory : </b> {{ image_selected?.memory }}
            <br/>
            <b>storage: </b> {{ image_selected?.hdd }}
            <br/>
            <br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
