<app-facility-nav>
</app-facility-nav>

<div class="row col">
  <app-experiment-nav></app-experiment-nav>

  <!-- quota list -->

  <div class="col">

    <div class="row">
      <h1 class="col-sm-4">Quotas</h1>
      <h3 class="col-sm-4">
      </h3>
      <h1 class="col-sm-4"></h1>
    </div>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col">Your default quota</th>
          <th class="col">Your used quota</th>
          <th class="col">Your available quota</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <td class="col">
            <strong>machines : </strong> {{ quotas.max_simultaneous }}
            <br/>
            <strong>cpus : </strong> {{ quotas.cpu }}
            <br/>
            <strong>memory : </strong> {{ quotas.memory }}
            <br/>
            <strong>storage: </strong> {{ quotas.hdd }}
            <br/>
            <br/>
          </td>
          <td class="col">
            <strong>machines : </strong> {{ used_quota.max_simultaneous }}
            <br/>
            <strong>cpus : </strong> {{ used_quota.cpu }}
            <br/>
            <strong>memory : </strong> {{ used_quota.memory }}
            <br/>
            <strong>storage: </strong> {{ used_quota.hdd }}
            <br/>
            <br/>
          </td>
          <td class="col" >
            <strong>machines : </strong> {{ available_quota.max_simultaneous }}
            <br/>
            <strong>cpus : </strong> {{ available_quota.cpu }}
            <br/>
            <strong>memory : </strong> {{ available_quota.memory }}
            <br/>
            <strong>storage: </strong> {{ available_quota.hdd }}
            <br/>
            <br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
