<app-main-nav></app-main-nav>

<div class="container">
  <h1 class="mt-5">About CalipsoPlus</h1>

  <p class="font-italic">Demonstrator of a Photon Science Analysis Service</p>

  <p class="lead">
    The aim of this JRA is to build demonstrators for remote data analysis for a small number of archetypal experiments. Testbeds
    will be developed for solving the issues users face in exporting large data sets and obtaining access to the necessary
    CPU resources and appropriate software. Studies on how cloud infrastructures and/or supercomputing centres can be exploited
    for these use cases will be made. For remote data analysis, particularly important for experiments with very high data
    volumes, the system will provide access through a user portal implementing a standard authentication system (using the
    UMBRELLA federated ID system realised through the PaNdata and CRISP FP7 projects) for secure access.
  </p>
  <p class="lead">
    The long-term goals of this JRA2 are both to make light sources more accessible to users in offering an easier and faster
    way to analyse their data remotely.
  </p>
</div>
