export const environment = {
  production: false,
  servers: {
    api: {
      url: '/',
      basehref: 'services/'
    },
    guacamole: {
      url: '/guac/'
    },
    jupyterhub: {
      enabled: false,
      url: 'http://jupyter.example.com'
    }
  },
  auth: {
    oidc: {
      enabled: false,
      url: 'http://example.com/oidc/authenticate'
    }
	 useroffice: {
      enabled: true,
      url: 'https://USEROFFICE.URL'
   }
  },
  frontend: {
    url: 'http://web-front/',
    facilityLogo: 'assets/images/insert-logo-here.jpg'
  },
  env : 'docker'
};
