export const environment = {
  production: true,
  frontend_calipso: "https://calipsofrontend.domain.tld/",
  backendUrl_calipso: "https://calipsobackend.domain.tld/",
  backendUrl_basehref: "calipsoplus-services/",
  guacamoleUrl: "https://calipsofrontend.domain.tld/gacces/",
  openIdConnectEnabled: true,
  openIdConnectUrl: 'http://example.com/oidc/authenticate',
  facilityLogo: 'assets/images/insert-logo-here.jpg',
  jupyterhubEnabled: false,
  jupyterjubUrl: 'http://jupyter.example.com',
  env : "prod"
};
