export const environment = {
  production: true,
  servers: {
    api: {
      url: 'https://calipsobackend.domain.tld/',
      basehref: 'calipsoplus-services/'
    },
    guacamole: {
      url: 'https://calipsofrontend.domain.tld/gacces/'
    },
    jupyterhub: {
      enabled: false,
      url: 'http://jupyter.example.com'
    }
  },
  auth: {
    oidc: {
      enabled: false,
      url: 'http://example.com/oidc/authenticate'
    },
    useroffice: {
      enabled: true,
      url: 'https://USEROFFICE.URL'
   }
  },
  frontend: {
    url: 'https://calipsofrontend.domain.tld/',
    facilityLogo: 'assets/images/insert-logo-here.jpg'
  },
  env : 'prod'
};
