export const environment = {
  production: false,
  frontend_calipso: 'http://web-front/',
  backendUrl_calipso: '/',
  backendUrl_basehref: 'services/',
  guacamoleUrl: '/guac/',
  openIdConnectUrl: 'http://example.com/oidc/authenticate',
  env : 'docker'
};
