export const environment = {
  production: false,
  frontend_calipso: 'http://web-front/',
  backendUrl_calipso: '/',
  backendUrl_basehref: 'services/',
  guacamoleUrl: '/guac/',
  openIdConnectEnabled: true,
  openIdConnectUrl: 'http://example.com/oidc/authenticate',
  facilityLogo: 'assets/images/insert-logo-here.jpg',
  jupyterhubEnabled: false,
  jupyterjubUrl: 'http://jupyter.example.com',
  env : 'docker'
};
