<app-main-nav></app-main-nav>
<div class="container">
  <h1 class="mt-5">Welcome to the CalipsoPlus</h1>
  <p class="font-italic">Demonstrator of Data Analysis as a Service</p>
  <p class="lead">
    Light sources are generators of big volumes of complex scientific data and their users need assistance in analyzing the scientific
    data. The aim of this portal is to build up demonstrators for remote data analysis for a small number of archetypal experiments.
    The demonstrators will build on the HPC platforms of each participating institute. The demonstrators will be cloud based
    in those institutes where cloud technology is deployed. In the other institutes the demonstrator will run on standard
    HPC hardware. This web portal aims to ensure users to have a common user experience.
  </p>
  <p class="lead">
    Deployment of complex data analysis frameworks and tool-chains is a common task at research facilities and frequently a major
    hurdle for scientists, hampering rapid data analysis and publications. Simple assembly of integrated and deployable applications
    would both reduce the Research Infrastructure efforts as well as accelerate the scientific process. Applications will
    be implemented as deployable packages, as pre-configured virtual machines or as containers. Virtual machines or containers
    provide encapsulated user environments, which can be archived together with the experimental data, thereby capturing
    valuable provenance data and strongly supporting reproducibility of the original experiment and data analysis workflows.
  </p>
</div>
