<div class="col">
  <!--nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
    <div *ngIf="isLogged()" class="nav-link ml-auto">
      <div class="row">
        <div class="col">
          <div ngbDropdown placement="bottom-right">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{getUserName()}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="nav-link dropdown-menu-right" (click)="!!logout()" href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav-->
  <div class="row text-center">
    <div class="col"><a href="/">
        <img src="assets/images/logo.jpg" width="auto" />
      </a>
    </div>
  </div>
</div>
