<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css" />

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Container Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="containerImageForm" (ngSubmit)="onSubmit()" class="px-lg-5 pt-0">

    <label>Public Name:</label>
    <input type="text" formControlName="publicName" required class="form-control mb-4">

    <label>Image: </label>
    <input type="text" formControlName="image" required class="form-control mb-4">

    <label>Protocol: </label>

    <select class="form-control mb-4" formControlName="protocol">
    <option value="">Please select a protocol</option>
    <option *ngFor="let protocol of protocolsSupported"
            [value]="protocol"> {{protocol}}
    </option>
    </select>

    <label>CPU: </label>
    <input type="text" formControlName="cpu" required class="form-control mb-4">

    <label>Memory:</label>
    <input type="text" formControlName="memory" required class="form-control mb-4">

    <label>HDD: </label>
    <input type="text" formControlName="hdd" required class="form-control mb-4">

    <label>Resource: </label>
    <input type="text" formControlName="resource" required class="form-control mb-4">

    <p>
      Form Value: {{ containerImageForm.value | json }}
    </p>

    <button type="submit" class="btn btn-primary" [disabled]="!containerImageForm.valid" (click)="onSubmit()">Submit</button>
  </form>
</ng-template>
<button id="addimage" class="btn btn-lg btn-outline-primary" (click)="open(content)"> Add Image </button>
