<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <a class="nav-link" routerLink="">Home</a>
  <a class="nav-link" routerLink="/about">About</a>
  <a class="nav-link" routerLink="/partners">Partners</a>

  <a *ngIf="!isLogged()" class="nav-link ml-auto" routerLink="/login">Login</a>

  <div *ngIf="isLogged()" class="nav-link ml-auto">
    <div class="row">
      <div class="col">
        <div ngbDropdown placement="bottom-right">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{getUserName()}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link dropdown-menu-right" routerLink="/experiment">Experiments</a>
            <a class="nav-link dropdown-menu-right" (click)="logout()" routerLink="/">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="footer-basic-centered">
  <p class="footer-company-name">Calipso Plus &copy; 2018</p>
</footer>
