<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <a class="nav-link" routerLink="">Home</a>
  <a class="nav-link" routerLink="/about">About</a>
  <a class="nav-link" routerLink="/partners">Partners</a>
  <a *ngIf="isLogged()" title="logout.." class="underline  nav-link ml-auto" (click)="logout()" routerLink="/">{{getUserName()}}</a>
  <a *ngIf="!isLogged()" class="nav-link ml-auto" routerLink="/login">Login...</a>
</nav>

<div class="container prevent_footer">
  <router-outlet></router-outlet>
</div>

<footer class="footer-basic-centered">
  <p class="footer-company-name">Calipso Plus &copy; 2018</p>
</footer>
