<app-main-nav></app-main-nav>
<div class="container">
  <div class="col nav-link  text-center">
    <img src={{calipsoService.getMyLogo()}}  />
  </div>

  <div class="center-all">Click on the logo bellow to sign in with your UmbrellaID</div>

  <div class="row text-center">
    <div class="col">
      <a class="nav-link dropdown-menu-right" (click)="!!login_umbrella()" href="#">
        <img src="assets/images/umbrella.logo.jpg" width="auto" />
      </a>
    </div>
  </div>

  <div *ngIf="this.isSettingsLocalLogin()">
    <h5 class="center-all">Or</h5>
    <div class="center-all">Click <a href="#" (click)="!!toggle_ShowMeLocalLogin()">here</a> to sign in with your local
      account</div>
    <div *ngIf="showme">
      <form class="form-signin center-all" #calipsoForm="ngForm">
        <br />
        <div class="form-group">
          <label for="username" class="sr-only">User name</label>
          <input [(ngModel)]="username" type="text" id="username" class="form-control" placeholder="User name" name="username"
            required autofocus #bk_name="ngModel">
          <div [hidden]="bk_name.valid || bk_name.pristine" class="alert alert-danger">
            username is required
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control"
            placeholder="Password" required>
        </div>
        <button [disabled]="!calipsoForm.form.valid" class="btn btn-primary btn-block btn-lg" (click)="login_UO()">Login</button>
      </form>
    </div>
  </div>
</div>
