<app-facility-nav></app-facility-nav>

<div class="row col">
  <app-experiment-nav></app-experiment-nav>

  <!-- resources list -->

  <div class="col">
    <h1 center>My resources</h1>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col"  *ngFor="let resource of resources">RESOURCE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" >
          <td class="col" *ngFor="let resource of resources">
              <b>{{resource.experiment}}</b><br/>
              <i>{{resource.machine_name}}</i><br/>
              {{resource.machine_ip}}<br/>
              {{resource.created_date}}<br/>
              {{resource.last_accessed_date}}<br/>
              {{resource.expiration_date}}<br/>
              <button class="btn btn-lg btn-primary" (click)="go_in(resource.machine_name)">ENTER</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!resources.length">
        <div class="text-center col">
        <h2>No resources</h2>
        </div>
     </div>
  </div>
</div>
